sudo: false
language: python
python:
    - "3.5"
    - "3.6"
    - "3.7-dev"
install: pip install tox-travis coverage
services:
 - xvfb
script:
- tox
after_success:
- pip install coveralls
- pip install .[plotting]
- coverage run --source=gps_helper setup.py test
- coveralls